@charset "utf-8";
/* CSS Document */
#Topimage{
		position: relative;
		margin: auto;
		top:5%;
		align-content: center;
		padding-left: 

}
#sep1{
	background-color: #000000;
	height: 50px;
	float-left: 0px;
}
.S1{
	position: absolute;
	float: left;
	width: 20%;
}
.S2{
	position: absolute;
	float: left;
	width: 20%;
}
.S3{
	position: absolute;
	float: left;
	width: 20%;
}
.S4{
	position: absolute;
	float: left;
	width: 20%;
}
.S5{
	position: absolute;
	float: left;
	width: 20%;
}
.S6{
	position: absolute;
	float: left;
	width: 20%;
}
.S7{
	position: absolute;
	float: left;
	width: 20%;
}