*{
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;

}

body {
	margin: 0px;
	padding: 0px;
	padding-left: 27vw;
	padding-right: 27vw;
	background-color: white;
	text-align: center;
}

h1 {
	/*margin-left: 0;*/
	margin-top: 100px;
	margin-bottom: 0px;
	font-size: 4.75em;
	text-align: center;
	color: red;
}

h3 {
	/*margin-left: 6vw;*/
	margin-top: -20px;
	margin-bottom: 0px;
}

p {
	text-align: left;
	margin: 40px;
}
