@charset "utf-8";
/* CSS Document */
@media only screen and (min-width: 1301px){
body{
	background-color: #514E4E
}
.box{
	position: relative;
	margin: auto;
	dispaly:block;
	margin-top: 10%;
	width: 900px;
	height: 800px;
	background: none;
	border: solid 3px white;
}
.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background:#802425;
  border-radius: 50%;
  z-index: 1;
}
.headcopy{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background:#802425;
  border-radius: 50%;
  z-index: 2;	
}
.mouthstright{
	position: absolute;
	top: 25%;
	left: 28%;
	width: 50%;
	height: 50%;
	z-index: 3;
	background: #000000;
	-webkit-clip-path: polygon(50% 94%, 71% 89%, 91% 87%, 91% 97%, 73% 98%, 50% 100%, 21% 96%, 6% 98%, 5% 87%, 20% 89%);
clip-path: polygon(50% 94%, 71% 89%, 91% 87%, 91% 97%, 73% 98%, 50% 100%, 21% 96%, 6% 98%, 5% 87%, 20% 89%);
	
}
.leftear{
	 position: absolute;
  width: 10%;
  height: 19%;
  left: -8%;
  top: 37%;
  background:#6D2122;
  z-index: 1;
}
.rightear{
	 position: absolute;
  width: 10%;
  height: 19%;
  right: -7%;
  top: 37%;
  background:#6D2122;
  z-index: 1;
}
.leftinnerear{
	 position: absolute;
  border-radius: 50%;
  width: 40%;
  height: 20%;
  top: 40%;
  left: 50%;
  background:#110F0F
}
.rightinnerear{
	 position: absolute;
  border-radius: 50%;
  width: 40%;
  height: 20%;
  top: 40%;
  left: 20%;
  background:#110F0F;	

}
.eye-left{
	 position: absolute;
  background: white;
  width: 30%;
  height: 23%;
  top: 25%;
  left: 15%;
  border-radius: 50%;
  z-index: 3;
}
.eye-right{
	 position: absolute;
  background: white;
  width: 30%;
  height: 23%;
  top: 25%;
  right: 15%;
  border-radius: 50%;
  z-index: 3;
}
.pupil{
	position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354A;
}
.nose{
	position: absolute;
  background:#A43032;
  width: 25%;
  height: 20%;
  left: 37%;
  top: 40%;
  border-radius: 50px;
  z-index: 4;
}
.lefttopear{
	 position: absolute;
  width: 10%;
  height: 20%;
  left: 17.3%;
  top: 23%;
  background:#6D2122;
  z-index: 2;	
	-webkit-clip-path: polygon(36% 71%, 38% 100%, 70% 100%);
clip-path: polygon(36% 71%, 38% 100%, 70% 100%);
}
.righttopear{
	 position: absolute;
  width: 10%;
  height: 20%;
  right: 18.5%;
  top: 23%;
  background:#6D2122;
  z-index: 2;	
	-webkit-clip-path: polygon(73% 75%, 38% 100%, 70% 100%);
clip-path: polygon(73% 75%, 38% 100%, 70% 100%);
}
}

@media only screen and (max-width: 1300px) {

body {
	background: #4B3B3B;
	}
	.box{
	position: relative;
	margin: auto;
	dispaly:block;
	margin-top: 10%;
	width: 900px;
	height: 800px;
	background: none;
	border: solid 3px white;
}
.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background:#802425;
  border-radius: 50%;
  z-index: 1;
}
.headcopy{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background:#802425;
  border-radius: 50%;
  z-index: 2;	
}
.mouthsmile{
	position: absolute;
	top: 25%;
	left: 28%;
	width: 50%;
	height: 50%;
	z-index: 3;
	background: #000000;
	-webkit-clip-path: polygon(50% 94%, 75% 79%, 91% 62%, 92% 75%, 76% 88%, 50% 100%, 22% 90%, 5% 77%, 5% 63%, 25% 80%);
clip-path: polygon(50% 94%, 75% 79%, 91% 62%, 92% 75%, 76% 88%, 50% 100%, 22% 90%, 5% 77%, 5% 63%, 25% 80%);
}
.leftear{
	 position: absolute;
  width: 10%;
  height: 19%;
  left: -8%;
  top: 37%;
  background:#6D2122;
  z-index: 1;
}
.rightear{
	
  
  position: absolute;
  width: 10%;
  height: 19%;
  right: -7%;
  top: 37%;
  background:#6D2122;
  z-index: 1;
}
.leftinnerear{
	 position: absolute;
  border-radius: 50%;
  width: 40%;
  height: 20%;
  top: 40%;
  left: 50%;
  background:#110F0F
}
.rightinnerear{
	 position: absolute;
  border-radius: 50%;
  width: 40%;
  height: 20%;
  top: 40%;
  left: 20%;
  background:#110F0F;	

}
.eye-left{
  position: absolute;
  background: white;
  width: 30%;
  height: 23%;
  top: 25%;
  left: 15%;
  border-radius: 50%;
  z-index: 3;
}
.eye-right{
	 
  position: absolute;
  background: white;
  width: 30%;
  height: 23%;
  top: 25%;
  right: 15%;
  border-radius: 50%;
  z-index: 3;
}
.pupil{
	position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354A;
}
.nose{
	position: absolute;
  background:#A43032;
  width: 25%;
  height: 20%;
  left: 37%;
  top: 40%;
  border-radius: 50px;
  z-index: 4;
}
.lefttopear{
	 position: absolute;
  width: 10%;
  height: 20%;
  left: 17.3%;
  top: 23%;
  background:#6D2122;
  z-index: 2;	
	-webkit-clip-path: polygon(36% 71%, 38% 100%, 70% 100%);
clip-path: polygon(36% 71%, 38% 100%, 70% 100%);
}
.righttopear{
	 position: absolute;
  width: 10%;
  height: 20%;
  right: 18.5%;
  top: 23%;
  background:#6D2122;
  z-index: 2;	
	-webkit-clip-path: polygon(73% 75%, 38% 100%, 70% 100%);
clip-path: polygon(73% 75%, 38% 100%, 70% 100%);
}
}
@media only screen and (max-width: 900px) {

body {
	background:#A41416;
	}
	.box{
	position: relative;
	margin: auto;
	dispaly:block;
	margin-top: 10%;
	width: 900px;
	height: 800px;
	background: none;
	border: solid 3px white;
}
.head{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background:#802425;
  border-radius: 50%;
  z-index: 1;
}
.headcopy{
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background:#802425;
  border-radius: 50%;
  z-index: 2;	
}
	.mouthopen{
		position: absolute;
	top: 33%;
	left: 28%;
	width: 50%;
	height: 50%;
	z-index: 3;
	background: #000000;
	-webkit-clip-path: polygon(48% 57%, 80% 53%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 16% 48%);
clip-path: polygon(48% 57%, 80% 53%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 16% 48%);
	}
	.teethleft{
		position: absolute;
		width: 20%;
		height: 20%;
		top: 57%;
		left: 30%;
		background: #FFF5F5;
		-webkit-clip-path: polygon(35% 0, 8% 0, 30% 53%);
clip-path: polygon(35% 0, 8% 0, 30% 53%);
		z-index: 3;
	}
	.teethright{
			position: absolute;
		width: 20%;
		height: 20%;
		top: 57%;
		right: 30%;
		background: #FFF5F5;
		-webkit-clip-path: polygon(88% 4%, 72% 7%, 72% 56%);
clip-path: polygon(88% 4%, 72% 7%, 72% 56%);
	}
.leftear{
	 position: absolute;
  width: 10%;
  height: 19%;
  left: -8%;
  top: 37%;
  background:#6D2122;
  z-index: 1;
}
.rightear{
	
  
  position: absolute;
  width: 10%;
  height: 19%;
  right: -7%;
  top: 37%;
  background:#6D2122;
  z-index: 1;
}
.leftinnerear{
	 position: absolute;
  border-radius: 50%;
  width: 40%;
  height: 20%;
  top: 40%;
  left: 50%;
  background:#110F0F
}
.rightinnerear{
	 position: absolute;
  border-radius: 50%;
  width: 40%;
  height: 20%;
  top: 40%;
  left: 20%;
  background:#110F0F;	

}
.eye-left{
  position: absolute;
  background: white;
  width: 30%;
  height: 23%;
  top: 25%;
  left: 15%;
  border-radius: 50%;
  z-index: 3;
}
.eye-right{
	 
  position: absolute;
  background: white;
  width: 30%;
  height: 23%;
  top: 25%;
  right: 15%;
  border-radius: 50%;
  z-index: 3;
}
.pupil{
	position: absolute;
  width: 28%;
  height: 30%;
  top: 35%;
  left: 36%;
  border-radius: 50%;
  background: #27354A;
}
.nose{
	position: absolute;
  background:#A43032;
  width: 25%;
  height: 20%;
  left: 37%;
  top: 40%;
  border-radius: 50px;
  z-index: 4;
}
.lefttopear{
	 position: absolute;
  width: 10%;
  height: 20%;
  left: 17.3%;
  top: 23%;
  background:#6D2122;
  z-index: 2;	
	-webkit-clip-path: polygon(36% 71%, 38% 100%, 70% 100%);
clip-path: polygon(36% 71%, 38% 100%, 70% 100%);
}
.righttopear{
	 position: absolute;
  width: 10%;
  height: 20%;
  right: 18.5%;
  top: 23%;
  background:#6D2122;
  z-index: 2;	
	-webkit-clip-path: polygon(73% 75%, 38% 100%, 70% 100%);
clip-path: polygon(73% 75%, 38% 100%, 70% 100%);
}
}
	
	