body{
	background-color: cadetblue
}

.one{
    font-size:100px;
    color:aliceblue;
    border-bottom:10px solid;
    border-top:10px solid;
}
.three{
    position:relative;
    left:20%;
    top:-50px;
}
.two{
    position:relative;
    left:20%;
}
p{
	text-indent: 20px;
	align-content: center;
	border: 6px dashed;
	border-color:#FFFFFF;
	width: 75vw;
}
