@charset "utf-8";
/* CSS Document */

div.title{
	text-rot
	line-height: 80px;
	  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}
p{
text-indent: 30px;
margin-right: 500px;
color:#FF0004;
font-family: 'Vollkorn', serif;
}
h1{
text-align: left;
color:#FF0004;
font-family: 'Francois One', sans-serif;
margin-left: 600px;
line-height: 10px
}
h2{
text-align: left;
color: #FF0004;
font-family: 'Vollkorn', serif;
margin-left: 600px;
line-height: 10px
}
h3{
text-align: left;
color: #FF0004;
font-family: 'Vollkorn', serif;
margin-left: 600px;
line-height: 10px
}
h4{
text-align: left;
color: #FF0004;
font-family: 'Vollkorn', serif;
margin-left: 600px;
line-height: 10px
}
body{
  background-color:#76E27B
}
.one{
	text-align: left;
	margin-left: 2vw;
	letter-spacing: 3px;
}
.two{
	text-align: left;
	margin-left: 4vw;
	letter-spacing: 4px;
}
.three{
	text-align: left;
	margin-left: 6vw;
	letter-spacing: 3px;
}
.four{
	text-align: left;
	margin-left: 8vw;
	letter-spacing: 2px;
}
.five{
	text-align: left;
	margin-left: 6vw;
	letter-spacing: 1px;
}
.six{
	text-align: left;
	margin-left: 4vw;
	letter-spacing: 2px;
}
.seven{
	text-align: left;
	margin-left: 2vw;
	letter-spacing: 3px;
}
.eight{
	text-align: left;
	margin-left: 1vw;
	letter-spacing: 4px;
}
#bottom{
	text-align: right;
	padding-right: 25vw;
}