*{
	box-sizing: border-box;
	font-size: 15px;
}
img{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 625px;
	z-index: 1;
}
body {
	margin: 0px;
	padding: 0px;
	padding-left: 51vw;
	padding-right: 11vw;
	background-color: white;
}
h4{
	line-height: 30px;
	text-decoration: underline;
	font-size: 17px;
}
h1 {
	
	margin-top: 100px;
	margin-bottom: 0px;
	font-size: 4.75em;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: right;
	line-height: 4px;
}

h3 {
	font-family: ;
	text-decoration: underline;
	margin-top: -20px;
	margin-bottom: 0px;
	line-height: 25px;
}

p {
	font-family: 'Catamaran', sans-serif;
	margin: 40px;
}

.leftBar {
	background-color:#DB2CD7;
	margin: 0px;
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 50vw;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.rightBar {
	background-color:#DD69E7;
	margin: 0px;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 10vw;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.pageLine {
	height: 2px;
	width: 80%;
	background-color: black;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

.holder {
	position: absolute;
	top: 0px;
	left: 27vw;
	width: 46vw;
	background-color: white;
	padding: 20px 123px 30px 123px;
}