*{
	box-sizing: border-box;
	font-size: 24px;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";

}


.rtl{
	direction: rtl;
	float-right: 25px;
	border-left: dotted 30px;
	
}
