@charset "utf-8";
/* CSS Document */

body{
	background-color: #8BD77B;
}

nav {background-color: #7C4E20;
padding-top: 50px;
padding-left: 100px;
font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
img {
	padding-left: 300px;
}

div{font-size: 101px}
font{padding-left: 600px;
}


nav {float left: 80px
}