@charset "utf-8";
/* CSS Document */

body {padding: 0;
	margin: 0;}

.box {
	padding-left: 20px;
	padding-right: 20px;
	width: 600px
		height:100px;}
#title {background-color:#47D7E3}
.p1 {background-color:#93E784;}
.p2 {background-color:#EEDC4F;}
.p3 {background-color:#E79561;}
.p4 {background-color:#0F8552;}
.p5 {background-color:#A372BE;}

h1 {text-align:right;
		margin: 0;
		padding-top: 10vh;
		font-size: 8vw;
		font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		text-transform: uppercase;
		color:#2B2727;}
h2, h3, h4, h5 {text-align:left;
		margin: 2px;
		padding-top: 5vh;
		font-size: 6vw;
		font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
		text-transform: uppercase;
		color:#2B2727;}


