body{
	background-color:black;
	border: 9px groove;
}

#begining{
	transform: rotate(180deg);
	align-content: stretch;
	border: 7px groove;
}

.one{
    font-size:100px;
    color:aliceblue;
    border-bottom:10px solid;
    border-top:10px solid;
}
.three{
    position:relative;
	color: aliceblue;
    left:20%;
    top:-50px;
}
.two{
    position:relative;
    left:20%;
	color:aliceblue;
}
p{
	text-indent: 20px;
	align-content: center;
	border: 8px groove;
	border-color:#FFFFFF;
	width: 40vw;
	padding-left: 5vw;
	float: right;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:olive
}
img{align-content: right;
	margin-left: 50vw;
width: 20vw;}
