@charset "utf-8";
/* CSS Document */
body{
	background: #535151
}
.heading{
	position: relative;
	margin: auto;
	display: block;
	width: 1620px;
	top:0%;
	left: auto;
}
.about{
	color: #FFFFFF
}
.bots{
	position: relative;
	margin:auto;
	width: 800px;
	height: 600px;
	
}
.contianter1{
	width: 800px;
	height: 1800px;
}