@charset "utf-8";
/* CSS Document */
@media only screen and (min-width: 2000px){
body{
	background: #535151
}
.heading{
	position: relative;
	margin: auto;
	display: block;
	width: 1620px;
	top:0%;
	left: auto;
}
.about{
	color: #FFFFFF
}
.bots{
	position: relative;
	margin:auto;
	width: 600px;

	
}
.contianter1{
	width: 800px;
	height: 1800px;
}
	.resize{
		width:1000px;
	}
}
@media only screen and (max-width: 2001px) {
body{
	background: #535151
}
.heading{
	position: relative;
	margin: auto;
	display: block;
	width: 1620px;
	top:0%;
	left: auto;
}
.about{
	color: #FFFFFF
}
.bots{
	position: relative;
	margin:auto;
	width: 600px;

	
}
.contianter1{
	width: 800px;
	height: 1800px;
}
	.resize{
		width:700px;
	}
}	
	
}
@media only screen and (max-width: 1024px) {
	body{
	background: #535151
}
.heading{
	position: relative;
	margin: auto;
	display: block;
	width: 1620px;
	top:0%;
	left: auto;
}
.about{
	color: #FFFFFF
}
.bots{
	position: relative;
	margin:auto;
	width: 600px;

	
}
.contianter1{
	width: 800px;
	height: 1800px;
}
	.resize{
		width:700px;
	}
}
	
}

@media only screen and (max-width: 768px) {
	body{
	background: #535151
}
.heading{
	position: relative;
	margin: auto;
	display: block;
	width: 1620px;
	top:0%;
	left: auto;
}
.about{
	color: #FFFFFF
}
.bots{
	position: relative;
	margin:auto;
	width: 600px;

	
}
.contianter1{
	width: 800px;
	height: 1800px;
}
	.resize{
		width:700px;
	}
}
	
}

@media only screen and (max-width: 320px) {
	
	body{
	background: #535151
}
.heading{
	position: relative;
	margin: auto;
	display: block;
	width: 1620px;
	top:0%;
	left: auto;
}
.about{
	color: #FFFFFF
}
.bots{
	position: relative;
	margin:auto;
	width: 600px;

	
}
.contianter1{
	width: 800px;
	height: 1800px;
}
	.resize{
		width:700px;
	}
}
}

