 * {
	background-color: black;
}
.top{
	transform: rotate(67deg);
	text-align: center;
	margin-left: 25px;
}
div{
	color: white;
}
h1{

	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 450px;

}

h2{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 45px;

}
h3{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 45px;
	margin-bottom: 5px;

}

p{
	transform: rotate(90deg)
	font-family: 'Playfair Display', serif;
	transform: rotate(90deg);
	float: left;
	width: 85px;
	line-height:2.1em;
	font-size: 32px;
	color: white;
}